* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
@media screen and (min-width: 1024px){
    body{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }
}
figure, img, section{
    max-width: 100%;
    margin: 0;
}

/*Header stylel*/
header h1{
    margin-bottom: 0;
    font-size: xx-large;
    color: #2d3c49;
    font-weight: 100;
}

header h3, h3{
    color: #2d3c49;
    font-size: medium;
    font-weight: bolder;
    margin-top: 0;
}

.header{
    display: inline-flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}

.logo{
    width: 20%;
    order: 1;
}

.name{
    width: 80%;
    order:2;
    text-align: right;
}
.projects{
    font-size: x-large;
}
.header_subtitle{
    display: inline-block;
    float: right;
    text-align: right;
}
@media screen and (max-width: 425px){
    .header_subtitle{
        font-size: small;
    }
    .header__title{
        font-size: x-large;
    }
    .projects{
        font-size: inherit;
    }
}
hr{
    border-width: 2px;
    border-style: solid;
    border-color: #7d97ad
}

article h3{
    color: #7d97ad;
    margin-bottom: 8px;
    font-size: xx-large;
    font-weight: initial;
}

.container{
    display: inline-block;
    float: left;
}

.box{
    width:100%;
    text-align: center;
    padding: 1px;
}


@media screen and (min-width: 425px){
    .container{
        display: inline-flex;
        flex-wrap: wrap;
    }

    .box{
        width:33.33%;
        text-align: center;
    }

}
.header__logo{
    position: relative;
    top: auto;
    width: 100px;
    height: 100px;
    float: left;
    padding: 7%;
}
hr{
    width: 100%;
}

.main_picture{
    width: 100%;
}
figcaption{
    line-height: 1px;
    color: #2d3c49;
    font-weight: 100;
}
figcaption h1{
    font-weight: normal;
}

figcaption p{
  font-size: x-small;
}
a{
    text-decoration: none;
    color: #000;
    font-size: small;
}
footer p{
  text-align: center;
  font-size: small
}
